<main>
  <h1>Welcome to CSE Motors!</h1>
  <div class="main-one">
    <div id="one">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p><br>
        <button>Own Today</button>
      </div>
      <div id="two">
        <img src="images/vehicles/delorean.jpg" alt="cars" />
      </div>
  </div>

    <div class="main-two">
        <div class="four">
            <div id="four-1">
                <div>
                    <h3>DMC Delorean Reviews</h3>
                </div>
                <div>
                    <ul>
                        <li>"So fast It's almost like travelling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling MCFly." (5/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's livin and I love it!" (5/5)</li>
                    </ul>
                </div>
            </div>
        </div>

      <div id="three">
        <h3>Delorean Upgrades</h3>
        <div class="container">
            <div class="grid-box">
                <div class="grid">
                    <img src="images/upgrades/flux-cap.png" alt="flux">
                    <a href="" id="text">Flux Capacitor</a>
                </div>
            <div class="grid">
                <img src="images/upgrades/flame.jpg" alt="flames">
                <a href="" id="text">Flames Decals</a>
            </div>
            <div class="grid">
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper">
                <a href="" id="text">Bumper Stickers</a>
            </div>
            <div class="grid">
                <img src="images/upgrades/hub-cap.jpg" alt="hubs">
                <a href="" id="text">Hub Caps</a>
            </div>
            </div>
        </div>
      </div>


    </div>
  </div>
</main>
