/******* Change Box Model ***************/
@import url('https://fonts.cdnfonts.com/css/google-sans');
*,
*:before,
*:after {
  box-sizing: border-box;
}

/**** HEADER ****/

header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

li, p {
  font-family: 'Product Sans', sans-serif;
 font-weight: lighter;
}

h1,h2, h3{
  font-family: 'Product Sans', sans-serif;
}

header a{
  color: black;
  text-decoration: none;
  font-family: 'Product Sans', sans-serif;
}

.siteName{
  font-size:30px;
  font-weight: 800;
}

#tools{
  text-align: right;
  font-weight: 800;
}


/**** NAVBAR ****/
nav{
  background-color: rgb(52, 51, 51);
  box-sizing: border-box;
}

nav ul{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
 
nav ul li{
  color: rgb(255, 255, 255);
 list-style-type: none;
 font-family: 'Product Sans', sans-serif;
 font-weight: lighter;
}

/**** SECTION ONE ****/
.main-one, .main-two{
  display: flex;
}

.main-two {
  justify-content:left;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  flex-basis: fit-content;
}

button{
  background-color: rgb(127, 127, 231);
  color: rgb(8, 8, 8);
  width: 90%;
  font-weight: bold;
  padding: 10px 0;
  justify-content: center;
}
#one{
  margin-left: 2%;
  text-align: center;
  color: #3131e3;
  background-color: rgba(226, 235, 235, 0.42);
  position: absolute;
}

#two{
  margin: 0 auto;
  overflow: hidden;
}

#two img {
  width: 100%;
  height: auto;
}


.four ul li{
 width: 50%;
  padding-bottom: 50px;
  justify-content: center;

}
/**** SECTION TWO ****/
.grid img{
  margin-left: 30px;
}
.grid-box{
  grid-template-columns: auto auto;
  display: grid;
  gap: 20px;
}

.grid{
  padding: 40px;
  background-color: rgb(226, 235, 235);
}
#text{
  margin-bottom: 10px;
  text-align: center;
  display: block;
  font-family: 'Product Sans', sans-serif;
 font-weight: lighter;
}
/**** FOOTER ****/



@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

}
